# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air 
*.ipa
*.apk

#è¿‡æ»¤æ‰ä¸æƒ³è¦æ–‡ä»¶å’Œæ–‡ä»¶å¤¹
*.exe
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.ipch
Debug/
.vs
Release/

# å¿½ç•¥æ‰€æœ‰ .txt åç¼€çš„æ–‡ä»¶
*.txt

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Git-Auto-Push.bat
Git²Ù×÷ÈÕÖ¾.txt

Git-Auto-Push.bat
Git²Ù×÷ÈÕÖ¾.txt
